:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--color-main);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	display: flex;
	justify-content: center;
	margin-top: 4.5vh;
	margin-bottom: 4.5vh;
	padding: var(--unit-two);
	font-size: var(--font-size-main);
	text-align: center;
}

main {
	max-width: 37.5rem;
}

.__generator {
	border: var(--border-shorthand);
	padding: var(--unit-two);

	position: relative;
}

/* Body / textarea With The Generated Texts */

._generated textarea {
	display: block;
	border-radius: 0;
	height: 17.5rem;
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	text-align: justify;
	outline: none;
	resize: vertical;
	overflow-y: scroll;
}

/* All Buttons (Paragraph Length & Amount) */

._options > div {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
}

.paragraph-length_ {
	background: none;
	border: none;
	border-left: var(--border-shorthand);
	border-radius: 0;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	font-style: italic;
}

.paragraph-length_:focus {
	outline: none;
}

.paragraph-length_ option {
	font-size: var(--font-size-second);
}

.paragraph-number_ {
	display: flex;
}

.paragraph-number_ input {
	border: var(--border-shorthand);
	border-top: none;
	border-bottom: none;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	font-style: italic;
}

.paragraph-number_ input:focus {
	outline: none;
}

.paragraph-number_ input:nth-child(1) {
	border-right: none;
	width: 100%;
	padding-right: 0;
}

.paragraph-number_ input:nth-child(2) {
	border-left: none;
	width: 5rem;
	padding-left: 0;
	font-style: italic;
	text-align: right;
}

.generate_ {
	background: none;
	border: var(--border-shorthand);
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	cursor: pointer;
}

.copy_ {
	font-size: var(--font-size-second);
	opacity: 0.6;
	cursor: pointer;

	position: absolute;
	top: -0.938rem;
	right: 0;
}

/* About Lorem Ipsum */

.__about h2 {
	text-align: center;
}

.__about p {
	text-align: justify;
	word-wrap: break-word;
}

.__about h3 {
	text-align: left;
}

/* Notice / Link */

#notice {
	margin-top: 0.656rem;
	padding: 0 var(--unit-one);
	font-size: var(--font-size-second);
	line-height: 1.1;
	word-wrap: break-word;
}

/* Media Query */

@media (hover: hover) {
	.generate_:hover {
		color: var(--button-hover-color);
		background: var(--button-hover-backround);
	}

	.copy_:hover {
		opacity: 1;
	}
}

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}

	.copy_ {
		top: -1rem;
	}
}
/* -------- */

@media (max-width: 16.875rem) { /* 270px */
	.paragraph-number_ input:nth-child(1) {
		border-right: var(--border-shorthand);
		padding-right: var(--unit-two);
	}

	.paragraph-number_ input:nth-child(2) {
		display: none;
	}
}