:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--color-main);
	box-sizing: border-box;
}

body {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--font-size-main);
}

main {
	padding: var(--unit-two);
}

#lorem-ipsum-generator {
	max-width: 37.5rem;
	margin: 4.5vh auto;
}

.__generator {
	border: var(--border-shorthand);
	padding: var(--unit-two);

	position: relative;
}

._generated textarea {
	display: block;
	border-radius: 0;
	height: 17.5rem;
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	text-align: justify;
	outline: none;
	resize: vertical;
	overflow-y: scroll;
}

._options > div {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
}

.-paragraph-length {
	border: none;
	border-left: var(--border-shorthand);
	border-radius: 0;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	font-style: italic;
}

.-paragraph-length:focus {
	outline: none;
}

.-paragraph-length option {
	font-size: var(--font-size-second);
}

.-paragraph-number {
	display: flex;
}

.-paragraph-number input {
	border: var(--border-shorthand);
	border-top: none;
	border-bottom: none;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	font-style: italic;
}

.-paragraph-number input:focus {
	outline: none;
}

.-paragraph-number input:nth-child(1) {
	border-right: none;
	width: 100%;
	padding-right: 0;
}

.-paragraph-number input:nth-child(2) {
	border-left: none;
	width: 5rem;
	padding-left: 0;
	font-style: italic;
	text-align: right;
}

.-generate {
	background: none;
	border: var(--border-shorthand);
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	cursor: pointer;
}

.-copy {
	font-size: var(--font-size-second);
	text-decoration: underline;
	opacity: 0.6;
	cursor: pointer;

	position: absolute;
	top: -0.938rem;
	right: 0;
}

/* About Lorem Ipsum */

.__about p {
	text-align: justify;
	word-wrap: break-word;
}

.__about h3 {
	text-align: left;
}

/* Notice / Link */

.__notice {
	padding: 0 var(--unit-one);
	font-size: var(--font-size-second);
	text-align: center;
	word-wrap: break-word;
}

/* Media Query */
@media (hover: hover) {
	.-generate:hover {
		color: var(--button-hover-color);
		background: var(--button-hover-backround);
	}

	.-copy:hover {
		opacity: 1;
	}
}

@media (max-width: 16.875rem) { /* 270px */
	.-paragraph-number input:nth-child(1) {
		border-right: var(--border-shorthand);
		padding-right: var(--unit-two);
	}

	.-paragraph-number input:nth-child(2) {
		display: none;
	}
}